<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>203246132887-r5nkc244717p3hc351btm14q4richbsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203246132887-r5nkc244717p3hc351btm14q4richbsa</string>
	<key>API_KEY</key>
	<string>AIzaSyC-Zib46vzh01_Yscxpp4JicT41wBFHMHk</string>
	<key>GCM_SENDER_ID</key>
	<string>203246132887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FIT5140.A3-b</string>
	<key>PROJECT_ID</key>
	<string>new-a3</string>
	<key>STORAGE_BUCKET</key>
	<string>new-a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203246132887:ios:e2f92a825f04f9c0</string>
	<key>DATABASE_URL</key>
	<string>https://new-a3.firebaseio.com</string>
</dict>
</plist>