<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Allow Family Health Diary to use camera</string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>476568305333-tj9tvv30c9g5ti6l9q85c7b8ps1k9r8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476568305333-tj9tvv30c9g5ti6l9q85c7b8ps1k9r8p</string>
	<key>API_KEY</key>
	<string>AIzaSyBi_VBBiZ-36VvM8hn43JxW0yuaYbgwgG0</string>
	<key>GCM_SENDER_ID</key>
	<string>476568305333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FIT5140.A3-b</string>
	<key>PROJECT_ID</key>
	<string>assignment3-2bbc1</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment3-2bbc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:476568305333:ios:e2f92a825f04f9c0</string>
	<key>DATABASE_URL</key>
	<string>https://assignment3-2bbc1.firebaseio.com</string>
</dict>
</plist>
